*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    width: 60vh;
    height: 60vh;
    background-color: palegreen;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#form{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}